{% extends 'mainapp/base.html' %}


        {% block title %}
    <title>Каталог</title>
{% endblock %}

{% block content %}
    <div class="catalog">
    <h2>Каталог</h2> 
    <div class="molly">
         <img src="/static/img/molinez%20black.jpg" width="300" height="200" alt="Молинезия черная">
    </div>
   <div class="molly_ref">
      <a href="/molinezia/">Молинезия черная</a>
   </div>
    <div class="pecilia">
        <img src="/static/img/red%20pecilia.jpg" width="300" height="200" alt="Пецилия красная">
    </div>
    <div class="pecilia_ref">
         <a href="/pecilia/">Пецилия красная</a>
    </div>
    </div>

{% endblock %}
