<!DOCTYPE html>
<html lang="en">

<head>
   <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>

<body>
<div class="container">
    <div class="header">
        <div class="logo"></div>
        <div class="b_menu">
            <ul class="menu">
                <li>МЕНЮ</li>
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog/">Каталог</a></li>
                <li><a href="/contact/">Контакты</a></li>
            </ul>
        </div>
    </div>
    <div class="catalog">
    <h2>Каталог</h2> 
    <div class="molly">
         <img src="/static/img/molinez%20black.jpg" width="300" height="200" alt="Молинезия черная">
    </div>
   <div class="molly_ref">
      <a href="/molinezia/">Молинезия черная</a>
   </div>
    <div class="pecilia">
        <img src="/static/img/red%20pecilia.jpg" width="300" height="200" alt="Пецилия красная">
    </div>
    <div class="pecilia_ref">
         <a href="/pecilia/">Пецилия красная</a>
    </div>
    </div>
    <div class="footer">
        <h5>Все права защищены &copy; 2019</h5> </div>
</div>
</body>
</html>