<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo"></div>
            <div class="b_menu">
                <ul class="menu">
                    <li>МЕНЮ</li>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/catalog/">Каталог</a></li>
                    <li><a href="/contact/">Контакты</a></li>
                </ul>
            </div>
        </div>
        <h3>Контакты</h3>
        <h4>Обратная связь:</h4>
        <form action=""> Ваше имя
            <br>
            <input type="text" , placeholder="Имя">
            <br> Ваш e-mail
            <br>
            <input type="text" , placeholder="Ваша почта">
            <br> Ваш вопрос
            <br>
            <input type="text" style="width: 600px; height: 80px" , placeholder="Задайте вопрос или оставьте пожелание">
            <br>
            <input type="submit"> </form>
        <br>
        <h4>Наш адрес: </h4>
        <p>МО, г. Краснознаменск, ул. Парковая д. 4</p>
        <div class="karta">
            <h4>Карта:</h4>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1a630efc310ed0a7d7cac98b760fabba2f3983f7378397c6e0cabba0ded46e04&amp;width=100%25&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>
        
        </div>
       
        <div class="footer">
           <h5>Все права защищены &copy; 2019</h5> </div>
    </div>
    </body>
</html>