{% extends 'mainapp/base.html' %}


        {% block title %}
    <title>Интернет-магазин AqvaFish</title>
{% endblock %}

{% block content %}

        <h1>Моллинезия черная</h1>
        <h3 class="product">Описание товара</h3>
        <br>
        <div class="foto_product">
            <a href="/static/img/molinez%20black.jpg" target="_blank"><img src="/static/img/molinez%20black.jpg"></a>
        </div>
        <div class="short_des" >
            <p class="all">Моллинезия (лат. Mollienesia): черная, снежинка, велифера, сфенопс, латипина — какую из этих видов ни назови, все они популярны и распространены в аквариуме и относятся к одному виду, хотя выглядят порой очень по-разному. А все из-за того, что у них много плюсов — они мирные, очень выносливые и неприхотливые, недорогие, и просто размножаются. Это чисто американские рыбы, так как живут они в Северной и Южной Америке. </p>
            
            <button class="shop">Купить</button>
        
        </div>
        <div class="description">
            <h3 class="product">Характеристики товара</h3>
        <table>
            <tr>
                <td>№ п/п</td>
                <td>Размер рыбы</td>
                <td>Наличие</td>
            </tr>
            <tr>
                <td>1</td>
                <td>3-4 см</td>
                <td>5 шт</td>
            </tr>
            <tr>
                <td>2</td>
                <td>5-6 см</td>
                <td>8 шт</td>
            </tr>
        </table>
        <h4>Требования и условия:</h4>
        <ul class="list">
            <li>Объём аквариума — от 50 л.</li>
            <li>Температура — 16–22 °C</li>
            <li>Значение pH — 7.0–8.0</li>
            <li>Жёсткость воды — от мягкой до очень жёсткой (5–25 dGH)</li>
            <li>Тип субстрата — любой</li>
            <li>Освещение — умеренное</li>
        </ul>
        <h3 class="product">Краткое описание</h3>
        <p class="little">Живородящая рыбка.
            <br> Размер 4-5 см
            <br> Простые и неприхотливые рыбки, которые хорошо подходят для содержания начинающими аквариумистами. Особенно это касается популярной и распространенной черной молли. Осторожно нужно быть только с дисковыми формами или как их еще называют — баллон, из-за своей искривленной формы продолжительность их жизни меньше чем у нормальных рыб. Дело в том, что форма баллона это сколиоз, со всеми вытекающими из него последствиями.</p>
        <h4>Питание</h4>
        <p class="little">Принимает большинство популярных кормов в сухом, замороженном и живом виде. Хорошим выбором станут корма, изготовленные специально для Моллинезий, выпускаемые многими производителями. Они уже содержат все необходимые вещества, в том числе растительные добавки — обязательный элемент в ежедневном рационе питания.</p>
        <h4>Разведение</h4>
        <p class="little">Хотя содержание сопряжено некоторыми сложностями, но если обеспечить благоприятную среду обитания, то нерест не заставит себя ждать. Половой зрелости самки достигают к 5–7 месяцам. Самцы созревают к 3–4 месяцам, но в ряде случаев процесс может растянуться до 6–7 месяцев. Инкубационный период длится около 30 дней. Мальки рождаются полностью сформировавшимися и готовыми принимать корм.</p>
        <br>
        <p class="little">Кормить специальными продуктами для выкармливания молоди (порошки, суспензии) и/или микроорганизмами, такими как науплии артемий. В качестве альтернативы допустимо использовать обычный корм в виде хлопьев, предварительно раскрошенный на маленькие фрагменты, чтобы мальки могли их проглотить. Взрослые Моллинезии склонны съедать своё собственное потомство, поэтому для его сохранности весь выводок следует пересаживать в отдельный резервуар.</p> <a href="/pecilia/">Пецилия красная</a>
        </div>
       {% endblock %}
